#log-head {
    background-image: url("../images/Rectangle\ 122.png");
    // background-position: left;
    background-repeat: no-repeat;
    background-clip: initial;
    height: 100%;
    .container-main {
        // background-size: cover;
        // justify-content: space-between;
        .log-but {
            .row {
                text-align: center;
                .column {
                    justify-content: space-between;
                    width: calc(100% / 3);
                    img {
                    }
                    h3 {
                        text-align: center;
                        width: 210px;
                        font-size: 16px;
                        color: #544e7a;
                    }
                    .reg-but {
                        float: right;
                        width: 125px;
                        height: 57px;
                        background-color: #f56962;
                        border-radius: 4px;
                        color: white;
                    }
                }
            }
        }
        .menu-log {
            .row {
                .column {
                    color: white;
                    justify-content: center;
                    width: calc(100% / 3);

                    h1 {
                        width: 636px;
                        font-size: 60px;
                        margin-top: 70px;
                    }
                    h2 {
                        width: 455px;
                        font-size: 40px;
                        margin-top: 70px;
                    }
                    h3 {
                        width: 466px;
                        font-size: 29px;
                        margin-top: 30px;
                    }
                    label {
                        margin-top: 50px;
                        font-size: 18px;
                    }
                    input {
                        margin-top: 20px;
                        margin-bottom: 5px;
                        width: 499px;
                        height: 56px;
                        font-size: 14px;
                    }
                    button {
                        background-color: #f56962;
                        border: none;
                        border-radius: 4px;
                        color: white;
                        width: 499px;
                        height: 70px;
                        // margin-top: 84px;
                        font-size: 18px;

                        // margin-left: 530px;
                    }
                    .Google {
                        background-color: #ffffff;
                        border: none;
                        border-radius: 4px;
                        border-style: solid;
                        border-color: black;
                        color: black;
                        width: 499px;
                        height: 70px;
                        margin-top: 50px;
                        font-size: 18px;
                    }
                    img {
                        margin-top: 40px;
                    }
                }
                .sag {
                    color: black;
                    margin-left: 350px;
                }
            }
        }
    }
}
